form {
  input, button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    &[type=text] {
      border: 1px solid $primary-color;
    }
    &[type=submit] {
      cursor: pointer;
      background: $green-color;
    }
  }
}