table {
  border-collapse: collapse;
  width: 100%;
  float: left;
  margin: 2em 0;
  thead {
    border-bottom: 3px solid $primary-color;
    th {
      padding: 0.35em 0 .35em;
      font-weight: 400;
      text-align: left;
      font-size: 1.25em;
    }
  }

  tbody {
    border-bottom: 3px solid $primary-color;
    tr {
      border-bottom: 2px solid #ddd;
      &:nth-child(even){
        background: lightcyan;
      }
      td {
        padding: .75em 0;
        a {
          color: $primary-color;
          text-decoration: none;
          display: inline-block;
          margin: 0 .5em 0 0;
          &:hover, &:active, &:focus {
            color: darken($primary-color, 10%);
            border: none;
          }
        }
      }
    }
  }
}